.setup_call{
  color: red;
}

.mo_oauth_highlight_background_note_export{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 98%;
}

.mo_oauth_highlight_background_callback{
  background-color: #e7e7e7;
  border-radius: 0.3em;
  padding: 1%;
  width: fit-content;
}

.mo_oauth_highlight_background_note_2{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 71.7%;
}

.mo_oauth_highlight_background_note_3{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 41%;
}

#text_field,#text_field1,#text_field2,#text_field3, #callbackurl, #miniorange_oauth_client_auth_ep, #miniorange_oauth_client_access_token_ep,
#miniorange_oauth_client_user_info_ep,#miniorange_oauth_client_display_name{
    width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px;
	box-sizing: border-box;
}
.mo_oauth_table_layout {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}

.mo_oauth_table_layout input[type=text] {
	width: 80%;
}
.mo_oauth_table_layout td strong {
	margin-left: 10px;
}
.mo_oauth_container {
	width: 59%;
	padding: 25px;
	border-radius: 4px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.mo_oauth_container2 {
	padding: 25px;
	border-radius: 4px !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-left: auto;
	margin-right: auto;
}

.mo_oauth_table_layout_1
{
	background-color:#e0e0d8 !important;
	width: 97% !important;
	padding:1.5% !important;
	overflow: hidden;
}

.mo_oauth_client_highlight_background_note_1{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 90%;
}
.mo_oauth_client_highlight_background_note_2{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 97%;
}
.mo_oauth_client_highlight_background_note_3{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	margin: 0 1em;
	width: 97%;
}

/*marketing site setup guides table*/

.mo_guide_table{
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 13px;
}

.mo_guide_table-bordered>thead>tr>th{
	border-bottom-width: 2px;
}
.mo_guide_table-bordered {
	border: 1px solid #ddd;
}

.mo_guide_table-bordered>thead>tr>th, .mo_guide_table-bordered>tbody>tr>td {
	border: 1px solid #ddd;
}

.mo_guide_table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
}
.mo_guide_text-center {
	text-align: center;
}
.mo_guide_table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.mo_guide_text-color {
	color: #fe7e00;
}
.form-textarea{

	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-textarea { width:100% !important;}}

.form-text{
	padding: 2px !important;
	box-sizing: border-box !important;
	padding: 0.3em 0.4em 0.3em 0.5em !important;
	border: 1px solid #b8b8b8 !important;
	border-top-color: #999 !important;
	border-radius: 2px !important;
	background: #fcfcfa !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.125) !important;
}

@media only screen and (max-width:641px) { .form-text { width:100% !important;}}

.mo_oauth_container_2{
	width: 28%;
	padding: 2%;
	border-radius: 4px !important ;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-right: auto;
	float: right;
	margin-left: 1.5%;
}
.scrollit {
	overflow:scroll;
	height:345px;
}
.mo_td_values{
	font-size: 14px;
	font-weight: 600;
	font-family: sans-serif;
}
.custom-login-logout {
  clear: both;
}

.mo_oauth_custom_login_logout {
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 1%;
}
.mo_oauth_pricing-rate:last-of-type {
	margin-top:46px;
}

p.mo_oauth_pricing-rate{
	margin-bottom: 50px;
}
.mo_oauth_client_welcome_message{
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
	color: rgba(0, 128, 0, 0.80);
	background-color: rgba(0, 255, 0, 0.15);
	padding: 5px;
}
.mo_attr_table{
	font-size: 17px;
	font-weight: 600;
	font-family: sans-serif
}

.mo_oauth_backup_download{
	display:none;
}

.mo_oauth_backup_cancel{
	float:right;
}

a.add_new_provider{
    float: right;
    margin-top: -67px;
}

table.tableborder td {
    text-align: center;
}

table.tableborder th {
    text-align: center;
}
